<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBPZ-BH_Rc9UdgGmMP9qIWR1_VH3Owfq1A</string>
	<key>GCM_SENDER_ID</key>
	<string>735711669612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dhia.hydroponics</string>
	<key>PROJECT_ID</key>
	<string>dhiahidroponik-49016</string>
	<key>STORAGE_BUCKET</key>
	<string>dhiahidroponik-49016.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735711669612:ios:b5ba07e62ddda93d109749</string>
</dict>
</plist>